<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Predictor - Result</title>
    <link rel="icon" href="static/images/money.png" type="image/x-icon" style="border-radius: 5px;">

     <!-- Google Font -->
     <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
 
     <!-- Css Styles -->
     <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
     <link rel="stylesheet" href="static/css/STYLES.css" type="text/css">

</head>

<body>
    <main>
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-12"><br><br><br><br><br><br><br><br>
                </div> -->
                <div class="col-lg-6" style="align-items:center">
                    <br><br><br><br><br><br><br><br>
            <h1>Loan Approval Prediction</h1>
            <h3>{{num}}</h3>
            </div>
            <div class="col-lg-6">
                <br><br><br><br>
                <img src="static/images/Lending_1.jpg">
            </div>
            <div class="col-lg-12"><br><br></div>
            </div>
            </div>
    </main>
</body>
</html>